<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Focus</title>

<% if(darkno===0){ %>
    <link rel="stylesheet" href="css/light.css">

<%}%>

<% if(darkno===1){ %>
    <link rel="stylesheet" href="css/dark.css">

<%}%>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="icon" href="target.png">
</head>

<body>


  <div class="maindiv">


    <div class="topbar">
      <img src="target.png" alt="img-logo">
      <h2 class="heading" >FOCUS</h2>
      <h3 id="date"> <%=todaydate%> </h3>

      <form class="" action="/darkmode" method="post">
        <button type="submit" class="darkmodepos"><img id="sun" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSs05BUs_kHgQnCiYxSDxnv6zSDzEW6RfmiQ&usqp=CAU" /></button>

      </form>


    </div>

    <div class="sidebar">
      <div class="">
        <form class="sidebarform" action="/task" method="post">
          <button class="sidebarbtn" type="submit" name="taskbtn">
            <img class="taskimg pins" src="task.png" alt="tasks-img">
            <p class="names"><b>Tasks</b></p>
          </button>

        </form>

      </div>

      <div class="">
        <form class="" action="/notes" method="post">
          <button class="sidebarbtn" type="submit" name="notesbtn">
            <img class="noteimg pins" src="notes.png" alt="notes-img">
            <p class="names"><b>Notes</b></p>
          </button>

        </form>



      </div>

      <div class="">
        <form class="" action="/search" method="post">
          <button class="sidebarbtn" name="searchbutton" type="submit">
            <img class="searchimg pins" src="search-engine.png" alt="searchengine-img">
            <p class="names spin"><b>Search</b></p>
          </button>
        </form>




      </div>


      <div class="">
        <form class="" action="/bored" method="post">
          <button class="sidebarbtn " type="submit" name="boredbutton">
            <img class="boreimg pins" src="student-sleeping-in-class.png" alt="bore-img">
            <p class="names"><b>Bored ?</b></p>

          </button>

        </form>


      </div>
    </div>




    <div class="mainbar">
      <%  if(tvalue==1){ %>



      <form class="" action="/maintask" method="post">
        <button type="submit" class="btn">Add</button>
        <input type="text" name="taskname" class="writetask" placeholder="What's on your list today?" style="color:black;"required>
      </form>
      <h2 class="tasksleft">Tasks left</h2>
      <span id="taskleft"> <%=tleft%> </span>

      <h2 id="tasks">Tasks</h2>

      <div class="taskbox">

        <%   items.forEach(function(item){ %>

        <form action="/delete" method="post">
          <div class="item">
            <span style="font-size:200%;color:black; padding-bottom:10px;padding-left:10px; padding-top:10px;padding-right:10px;">📝</span>
            <p class="inputtext"><%=item.name %></p>
            <button class="deleteicon" type="submit" name="deletebutton" value="<%= item._id%>"><i class="fa fa-trash"></i></button>



          </div>

        </form>


        <%  })%>

      </div>






      <%  }%>

      <%  if(nvalue==1){%>

      <h1 class="listtitle">List your Notes here</h1>
      <div class="container">
        <form id="forms">
          <div class="form-control">
            <label for="title">
              <h3>TITLE</h3>
            </label>
            <input type="text" id="text" placeholder="Enter Your Title" autocomplete="off" name="title">
          </div>
          <div class="form-control">
            <label for="desc">
              <h3>DESCRIPTION</h3>
            </label>
            <input type="text" id="desc" placeholder="Enter Your Description" autocomplete="off" name="desc">
          </div>
          <button class="submit">➕</button>
        </form>
      </div>
      <div class="notes">
      </div>
      <%  }%>

      <%  if(bvalue===1){%>


      <div class="text">
        <center>
          <h1 class="bored12"style="font:italic small-caps bold 45px georgia; ">BORED??</h1>
          <h2 class="webs">
            I will help you to do something...!
          </h2>
        </center>
      </div>
      <div class="jerry">
        <img id="jerry" src="https://mystickermania.com/cdn/stickers/tom-and-jerry/hungry-nibbles-230x230.png">
      </div>
      <div class="tom">
        <img id="tom" src="https://i.pinimg.com/originals/7f/9a/32/7f9a32edd5184429091a8ac4894dd145.png">
      </div>
      <div id="hap">
        <h2>🎮📋🎨</h2>
        <h3><em>
            Get the activity by clickling here! </em></h3>
        <div id="done">
          <button class="buttonbore" onclick="randactivity()"><b>Randomn activity!</b></button>
        </div>
        <button class="button1bore">
          <div id="activity">
          </div>
        </button>
      </div>





      <%  }%>

      <%if(svalue===1){ %>


      <div class="search_bar">
        <div class="searchs">
          <input id="searchs" type="" name="" value="" placeholder="search google or type url">
        </div>
        <button class="search_button" type="button" name="button"><img id="searchimage" src="https://p7.hiclipart.com/preview/214/551/678/computer-icons-photography-web-search-engine-clip-art-files-search-free.jpg" /></button>

      </div>

      <div class="utube webs"><a href="https://www.youtube.com/" target="_blank">
          <img class="utube_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-Xp4c6vrPIHAt3Finb79Kc6DFrRvcFu2bsg&usqp=CAU" alt="">
          <br><br></a>
        YOUTUBE
      </div>
      <div class="github webs">
        <a href="https://github.com/" target="_blank">
          <img class="gh_img" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="">
          <br><br></a>
        GITHUB
      </div>

      <div class="atom webs">
        <a href="https://atom.io/" target="_blank">
          <img class="atom_img" src="https://tse1.mm.bing.net/th?id=OIP.XFp97d9WPdt4eCI92-uvgQHaHw&pid=Api&P=0" alt="">
          <br>
          <br></a>
        ATOM
      </div>
      <div class="codeforces webs"><a href="https://codeforces.com/" target="_blank">
          <img class="codeforces_img" src="https://res.cloudinary.com/practicaldev/image/fetch/s--N2_RJe5R--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/cer3l19eex0wy900b101.jpg"
            alt="">
          <br><br></a>
        CODEFORCES
      </div>

      <div class="w3_schools webs"><a href="https://www.w3schools.com/" target="_blank">
          <img class="w3_img" src="https://play-lh.googleusercontent.com/y3eaXRp7E7JfproxFtRIf60pVkmgcPNCxIhx_P7Ith_u3jZufHLnZspbc0bC3t2k5A" alt="">
          <br><br></a>
        W3_SCHOOLS
      </div>



    <div class="teams webs"><a href="https://www.microsoft.com/en-in/microsoft-teams/group-chat-software" target="_blank">
        <img class="teams_img" src="https://play-lh.googleusercontent.com/jKU64njy8urP89V1O63eJxMtvWjDGETPlHVIhDv9WZAYzsSxRWyWZkUlBJZj_HbkHA" alt="">
        <br><br></a>
      MICROSOFT TEAMS
    </div>



    <div class="email webs"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
        <img class="email_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/800px-Gmail_icon_%282020%29.svg.png" alt="">
        <br><br></a>
      Gmail
    </div>
<%  }%>




  </div>







  <div class="rightbar">
    <div id="pomodoro">
      <img id="pomo_img" src="https://i.postimg.cc/PfDSq62G/Apple.png" style="width:300px; height:300px">
      <div id="status"></div>
      <div class="timerDisplay">25:00</div>
      <button id="start-btn" class="btn">START</button>
    </div>

    <div class="settings">
      <div id="work">
        <p>Work Duration</p>
        <button class="btn-settings" id="work-plus">+</button>
        <div class="work-min"><span id="work-min">25</span> mins</div>
        <button class="btn-settings" id="work-minus">-</button>
      </div>

      <button id="reset" class="btn">RESET</button>

      <div id="break">
        <p>Break Duration</p>
        <button class="btn-settings" id="break-plus">+</button>
        <div class="break-min"><span id="break-min">5</span> mins</div>
        <button class="btn-settings" id="break-minus">-</button>
      </div>
    </div>

  </div>


</div>




  <script src="css/index.js" charset="utf-8"> </script>
  <script src="css/index1.js" charset="utf-8"></script>
  <script src="css/index2.js" charset="utf-8"></script>


</body>

</html>
